*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: 'Lexend';
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    background-color: white;
    color: #16161f !important;
    overflow-x: hidden;
}

a p {
    font-weight: 500;
}

h3,
label {
    color: black;
    margin-bottom: 10px;
}

p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    cursor: pointer;
}

.editable {
    border: 2px solid #dfdfdf;
    border-radius: 5px;
}

button {
    min-width: 40px;
    min-height: 40px;
    /* padding: 5px; */
    border: 2px solid #494949;
    border-radius: 5px;
    background-color: #ebebeb;
    font-family: 'Lexend';
    font-size: 18px;
    font-weight: 500;
    margin: 0 10px;
}

button:hover {
    background-color: #838383;

    color: white;
    transform: scale(1.05);
}

button:hover path {
    stroke: white;
}

.selected {
    background-color: #838383;
    color: white;
}

.selected path {
    stroke: white;
}

svg {
    pointer-events: none;
}

#underlined {
    text-decoration: underline;
}

.game_subject p:hover {
    transform: scale(1.05);
}

input,
select {
    border-radius: 3px;
    border: 2px solid #494949;
    background-color: rgb(255, 255, 255);
    color: #16161f;
    height: 40px !important;
    min-width: 100px;
    max-width: 200px;
    line-height: 40px;
    padding: 0 12px;
    font-family: 'Lexend';
    font-size: medium;
    font-weight: 500;



}

.game_title {
    margin-bottom: 10px;
}

.explain {
    padding-left: 0;
    color: #838383;
}

.game_content {
    margin: 200px auto;
    min-width: 200px;
    max-width: 1200px;
}

.game_subject {
    min-width: 200px;
}



.game_inputs {
    display: none;
    min-width: 200px;
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.input_row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: space-between;
    flex-wrap: wrap;
}

.pairs,
.buttons {
    display: flex;
    justify-content: space-between;
}

.pair {
    display: flex;
    flex-direction: column;
}

#bodycopy {
    text-align: justify;
}