/* modal test */

.modal {

    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: hidden;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */

}

.modal-content {
    background-color: #fff;
    margin: auto auto;
    margin-top: 18vh;
    padding: 40px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 80%;
    max-height: 40vh;
}

.modal_content h3,
h2,
img {
    margin-bottom: 10px;
}


.close {

    cursor: pointer;
}

.close {
    margin: 0 auto;
}



.badge_reward {
    margin: 10px auto;
}

.reward {
    display: flex;
    justify-content: center;
    flex-direction: column;
}