.course_cover {
    width: 25%;
    max-height: 200px;
    min-width: 70px;
    border-radius: 5px;

}

.started_course {
    height: fit-content;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    max-height: 240px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.user_courses {
    margin: 100px 0;
}

.course_cover img {
    object-fit: contain;
}

.myProgress {
    position: inherit !important;
    height: 15px;
    border-radius: 25px;
    width: 80%;
}

.myBar {
    height: 15px;
    border-radius: 25px;
}

.right {
    width: 75%;
    min-width: 300px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.middle {
    display: flex;
    align-items: flex-end;
    align-self: flex-end;
    justify-content: space-between;
    width: 100%;

}

h2,
p {
    margin: 0;
    padding: 0;
}

.text {
    max-height: 70%;
    overflow: hidden;
}


.started_course button {
    align-self: center;
    margin: 0;
    margin-left: 10px;
    background-color: #494949;
}

.started_course button:hover {
    background-color: #131313;
}